<div class='index'>
  <h1>Which Ben</h1>

  <div class='questions'>
    {{#if currentQuestion}}
      {{ben-finder question=currentQuestion setFilter='setFilter'}}
    {{/if}}
    {{#if showUnsure}}
      <h2>Shoot, I don't know which one you're talking about.</h2>
      <p>Choose from the Bens below:</p>
    {{/if}}
  </div>

  <div class='filtered-bens-list'>
    <div class='columns'>
    {{#if filteredBens}}
      {{#each ben in filteredBens}}
        {{ben-card ben=ben}}
      {{/each}}
    {{else}}
      {{#each ben in model.bens}}
        {{ben-card ben=ben}}
      {{/each}}
    {{/if}}
    </div>
  </div>
</div>
